body {
  margin: 0;
  padding: 0;
  font-family:"Work Sans",sans-serif;
  background-color: #67e0d7;
}

.App{
  overflow: hidden;
  padding: 20px;
  font-family: "Work Sans",sans-serif;
}
.Head{
  background:#f6f5b7;
text-align:center;
padding:1.5rem 0;
width:100%;
display:flex;
justify-content: center;
align-items: center;
box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
border-radius:20px;

}

.Head button{
  align:right;
}

.Container  {
  display: inline-block;
  padding: 1.5rem 0 ;
  margin: 10px auto 10px auto;
  width: 100%;
}

#ArticleDetail  {
background:#f6f5b7;
width:70%;
margin: -5px;
box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
float: right;
border-radius:20px;

}

#ArticleDetail div{
  margin: 10px 10px 10px 10px;

}

#ArticleDetail h2{
  text-align: center;
}

#ArticleDetail .DeleteBtn{

  justify-content: flex-end;
  display:  flex;
}

#ArticleDetail  :empty{
  display: none;

}
#ArticleDetail div  :empty{
    display: none;
}

.Message{
  line-height: 1.5rem;
  word-wrap: break-word;
  white-space: pre-wrap;
}



.ListView {
background:#f6f5b7;
width:30%;
margin: -5px;
box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
float: left;
border-radius:20px;
display: flex;

}

.ListView div{
  margin: 0px 10px 0px 10px;
  flex: 1;
  min-width: 0;
  white-space: wrap;
  word-wrap: break-word;


}
.TitleList{
  width: inherit;
  display:inherit;
  border: 100%;
  word-wrap: break-word;

}

.TitleList :hover{
  background:#59227c;
  width:100%;
  color: #ffffff;
  border-radius:5px;
  cursor:pointer;
}

button{

background: #ff7777;
border:none;
text-align: center;
font-size:20px;
padding:10px 25px;
border-radius:20px;
cursor:pointer;
outline: none;
color:#fff;
}
